@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,400&family=Montserrat:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px 100px;
  z-index: 10000;
  transition: 0.6s;
}

header .logo {
  position: relative;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header .toggler {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header .toggler::before {
  content: "";
  position: absolute;
  top: 12px;
  width: 100%;
  height: 2px;
  background: #fff;
}

header .toggler::after {
  content: "";
  position: absolute;
  bottom: 6px;
  width: 100%;
  height: 2px;
  background: #fff;
}

.banner.active header .toggler::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.banner.active header .toggler::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: url(./img/pixel-black.jpg);
  display: flex;
  align-items: center;
  transition: 0.6s;
  z-index: 2;
}

.banner.active {
    transform: translateX(-350px);
}

#navigation {
    position: fixed;
    top: 0;
    right: -200px;
    width: 350px;
    height: 100vh;
    background: #f8f8f8 ;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.6s;
}
#navigation.active {
    right: 0;
}

#navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

#navigation ul li {
    list-style: none;
}

#navigation ul li a {
    padding: 15px;
    color: #e98a0e;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 1.6em;
    text-transform: uppercase;
}

.content {
    max-width: 800px;
}

.content h2 {
    color: #fff;
    font-size: 2.5em;
}

.content h2 span {
    color: #e98a0e;
    font-size: 1.2em;
}

.content p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 200;
}

.content a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 36px;
    color: #e98a0e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 40px;
    transition: 1s;
    background: #ffffff;
}

.content a:hover {
    background: #ffffff;
    color: rgb(12, 12, 12);
    transition: 1s;
}

.sci
{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}

.sci li {
    list-style: none;
}

.sci li a {
     position: relative;
     display: grid;
     place-items: center;
     width: 50px;
     height: 50px;
     text-decoration: none;
     border: 1px solid #fff;
     margin: 10px 0 0;
}

.sci li a:hover {
    background: #fff;
}

.sci li a i {
    filter: invert(1);
    mix-blend-mode: difference;
}

.sci li a i:hover{
    filter: invert(1);
    mix-blend-mode: difference;
    color: #dfbb1d;
}

.subtitle {
    color: #e98a0e;
}

@media (max-width: 1021px) {
    header  {
        padding: 10px 70px;
    }
    .banner {
        padding: 100px 50px 150px;
    }
    .banner h2 {
        font-size: 1.8em;
    }
    .banner p {
        font-size: 1em;
    } 

    .banner.active {
        transform: translateX(-250px);
    }
   
    #navigation {
        width: 250px;
    }

    #navigation ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }

    .sci {
        position: absolute;
        bottom: 55px;
        right: initial;
        flex-direction: row;
    }

    .sci li a {
        margin: initial;
        margin-right: 15px;
    }
}